<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-user-lock fa-6x"></i>
    <h1 class="display-3">You have successfully Logged In</h1>
    <p class="text">Now it's your turn to make a website authentication like this!</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
