
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right, #2c3e50, #4ca1af);}

.centered {
    padding-top: 200px;
    text-align: center;  
    background: linear-gradient(to right, #2c3e50, #4ca1af);
}

.text {
  text-align: center;
  font-size: 2rem;
  color: black;
}
.text-center{
  background: linear-gradient(to right, #2c3e50, #4ca1af);
}
